<!DOCTYPE html>
<html>
    <title>Menu</title>
    <div style="background-color: black;text-align: center;">
    
        <div style="text-align: center;padding-bottom: 40px;padding-top: 40px;"> 
            <h1 style="color: blanchedalmond;">MENU</h1>
        </div>
    </div>


<body>
    <center><h3> You can create and interact with the below technologies </h3></center>
    <br>
    <div>
        {% for i,j in data.items() %}
        <center><h4>{{i}}</h4></center><br>
        {% endfor %}
    </div>
    
   


<div style="white-space: pre-wrap;text-align: center;border-style: dashed;background-color:lightblue;">
    <h3 style="background: scroll;">By filling the form you can use the services</h3>

    <form action = "/out", method="POST">
        
        Technology: <select name="tech"> {% for i in data.keys() %}
                        <option value = "{{i}}"> {{i}} </option>
                        {% endfor %}
                    </select>  
                    
        

        Service: <select name="service"> {% for k in data['hadoop'] %}
                                <option value = "{{k}}"> {{k}} </option>
                                {% endfor %}
                            </select>
        <br>
        Remote VM:<input type = 'radio' , name = "remote", value = 'True'> Yes </input>
                   <input type = "radio", name = "remote", value = 'False'> No </input>
        
        
        <br>
        VM User Name: <input type="text" name = "user"> </input>
        <br>
        VM IP address: <input type="text" name = "ip"> </input>
        <br>
        Password or Key File(Path): <input type="text" name = "passw"> </input>

        <input type="submit" value="submit"></input>
    </form>
</div>
</body>
</html>